<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>About</h2>
                    <p>Tomas is a Research Scientist at the MIT Urban Risk Lab where he directs Urban Risk Map - an applied research project to crowd-source flood response in Indonesia, India and the United States. Tomas holds a Bachelors of Geographic Information Science and a PhD in Geomatics from Newcatle University, and is professionally accredited as a Chartered Geograpger by the Royal Geographical Society.</p>
                </div>
            </div>
        </div>
    </section>
