<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Current Projects</h2>
                </div>
            </div>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                </div>
                            </div>
                            <img src="/{{ post.img }}" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-lg-12 text-left">
                    <h2>Policy & Media</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-lg-offset-0">
                    <p class="small citations"><a>Crowd-Sourced Data for Geospatial Sanitation Planning in Informal Settlements.</a> International Journal of Complexity in Applies Science and Technology (forthcoming).<BR>Holderness, T., Kennedy-Walker R., Alderson D., Evans B.</p><BR><BR>
                    <p class="citations small">Environment and Planning B: Planning & Design, 2016. Spatio-topological network analysis of hydrological infrastructure as a decision support tool for flood mitigation in coastal mega-cities. Ogie R., Holderness T., Dunbar M., Turpin E.</p><BR><BR>
                    <p class="citations small">Proceedings of Geographic Information Systems Research UK Conference, Leeds, United Kingdom, 2015 A Geospatial Relational Database Schema for Interdependent Network Analysis and Modelling. Alderson B., Barr S., Holderness T., Robson C., Ford A., Kennedy-Walker R. </p><BR><BR>
                    <p class="small citations">Environmental Science: Water Research & Technology, 2016 Optimisation and Costing of Faecal Sludge Management Options for Lusaka’s Informal Settlements. Kennedy-Walker R., Holderness T., Alderson D., Amezaga J., Paterson C.</p>
                </div>

            </div>
        </div>
    </section>
