<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <h1>Projects</h1>
            <div class="row">
                {% for post in site.posts %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    <i class="fa fa-search-plus fa-3x"></i>
                                    <p style="font-size:15px;color:white;text-align:center; margin-top:5px;">{{ post.title }}</p>
                                </div>
                            </div>
                            <img src="/{{ post.img }}" class="img-responsive" alt="">
                            <p style="font-size:15px;color:black;text-align:right">{{ post.title }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
