<!-- About Section -->
    <section class="success" id="publications">
        <div class="container publications">
            <div class="row">
                <div class="col-lg-12 text-left citations">
                    <h2>Publications</h2>

                </div>
            </div>

            <h3>2017</h3>
            <div class="row">
                <div class="col-md-6 col-md-offset-0">
                  IEEE
                    <p>Tam, D.S., Holderness, T., and Cate Christ., M. <a href="http://www.harvarddesignmagazine.org/issues/43" target="_blank">"Keeping It Fresh."</a> <i>Harvard Design Magazine</i> 44 (2017).</p>

                    <p>Ogie, R.I., Holderness, T., Dunbar, M., and Turpin, E. <a href="https://doi.org/10.1177/0265813516637608" target="_blank">"Spatio-topological network analysis of hydrological infrastructure as a decision support tool for flood mitigation in coastal mega-cities."</a> <i>Environment and Planning B: Urban Analytics and City Science</i> 44, no. 4 (2017): 718-739.</p>

                    <p>Ogie, R.I., Dunn, S., Holderness, T., and Turpin, E. <a href="https://doi.org/10.1016/j.scs.2016.08.022" target="_blank">"Assessing the vulnerability of pumping stations to trash blockage in coastal mega-cities of developing nations."</a> <i>Sustainable Cities and Society</i> 28 (2017): 53-66.</p>

                    <p>Ogie, R.I., Shukla, N., Sedlar, F., and Holderness, T. <a href="https://doi.org/10.1016/j.scs.2016.08.022" target="_blank">"Optimal placement of water-level sensors to facilitate data-driven management of hydrological infrastructure assets in coastal mega-cities of developing nations."</a> <i>Sustainable Cities and Society</i> 35 (2017): 385-395.</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Exciting delivery. <a href="https://twitter.com/hashtag/HarvardDesignMagazine?src=hash">#HarvardDesignMagazine</a> + our article on crowd-sourcing food rescue in Hong Kong w/ <a href="https://twitter.com/transverstudio">@transverstudio</a>. <br><br>cc. <a href="https://twitter.com/urbanrisklab">@urbanrisklab</a> <a href="https://t.co/5HUxhndmo7">pic.twitter.com/5HUxhndmo7</a></p>&mdash; Tomas Holderness (@iHolderness) <a href="https://twitter.com/iHolderness/status/827187107596746756">February 2, 2017</a></blockquote>
                  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>

              <h3>2016</h3>
              <div class = "row">
                <div class="col-md-6 col-md-offset-0">

                    <p>Holderness, T., and E. Turpin. <a href="https://www.theguardian.com/public-leaders-network/2016/jan/25/floods-jakarta-indonesia-twitter-petajakarta-org?CMP=share_btn_tw" target="_blank">"How tweeting about floods became a civic duty in Jakarta,"</a> in The Guardian, Public Leaders Network, 25 January 2016.</p>

                    <p>Turpin, E., Holderness, T., and Moe, K. <a>"Design for Dissipative Structures"</a> in <i>L. Bremner, R. Bottazzi (Eds.), Architecture | Energy | Matter</i> 2016. London, United Kingdom, University of Westminster, Department of Architecture.</p>

                    <p>Holderness, T., Kennedy-Walker, R., Alderson, D., Evans, B. <a href="https://doi.org/10.1504/IJCAST.2016.081293" target="_blank">"Crowd-Sourced Data for Geospatial Sanitation Planning in Informal Settlements"</a> <i>International Journal of Complexity in Applied Science and Technology</i>1, no. 1 (2016): 22-34.</p>

                    <p>Ogie, R.I., Holderness, T., Dunn, S., and Turpin, E. <a href="http://dx.doi.org/10.1680/tfitsi.61279.633" target="_blank">"Vulnerability analysis of hydrological infrastructure to flooding in coastal cities - a graph theory approach"</a> in <i>R. J. Mair, K. Soga, Y. Jin, A. K. Parlikad & J. M. Schooling (Eds.), Transforming the Future of Infrastructure Through Smarter Information: Proceedings of the International Conference on Smart Infrastructure and Construction</i> (2016): 633-644. London, United Kingdom: ICE Publishing.</p>

                    <p>Kennedy-Walker, R., Holderness, T., Alderosn, D., Amezaga, J., Paterson, C. <a href="https://doi.org/10.1039/C5EW00179J" target="_blank">Optimisation and Costing of Faecal Sludge Management Options for Lusaka's Informal Settlements.</a> <i>Environmental Science: Water Research & Technology, 2,</i> no.1 (2016): 97-106.</p>

                    <p>Holderness, T., and Turpin, E. <a href="https://doi.org/10.1007/978-3-319-27237-5_6" target="_blank">“From Social Media to GeoSocial Intelligence: Experiments with Crowdsourcing Civic Co-Management for Flood Response in Jakarta, Indonesia,”</a> in <i>S. Nepal, C. Paris, D. Georgakopoulos (Eds.), in Social Media for Government Services</i> (2016): 115-133. Springer.</p>

                </div>
                <div class="col-md-5 col-md-offset-1">
                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">How tweeting about floods became a civic duty in Jakarta | <a href="https://twitter.com/iHolderness">@iHolderness</a> <a href="https://twitter.com/turpin_etienne">@turpin_etienne</a> <a href="https://twitter.com/petajkt">@petajkt</a> <a href="https://t.co/fyJFu9WZoN">https://t.co/fyJFu9WZoN</a></p>&mdash; Public Leaders (@Guardianpublic) <a href="https://twitter.com/Guardianpublic/status/691573765675716609">January 25, 2016</a></blockquote>
                  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>

              <h3>2015</h3>
              <div class = "row">
                <div class="col-md-6 col-md-offset-0">

                    <p>Holderness, T., and E. Turpin. <a href="http://sr-indonesia.com/in-the-journal/view/floods-in-jakarta-tweeting-now" target="_blank">"Floods in Jakarta: Tweeting Now"</a> in <i>Strategic Review</i> Vol. 5, No. 4 (Oct-Dec 2015): 26-35.</p>

                    <p>Holderness T., and E. Turpin. <a href="https://petajakarta.org/banjir/in/research/index.html" target="_blank">PetaJakarta.org: Assessing the Role of Social Media for Civic Co-Management During Monsoon Flooding in Jakarta, Indonesia.</a> <i>GeoSocial Intelligence Working Group White Paper.</i> SMART Infrastructure Facility, University of Wollongong (June 2015).</p>

                    <p>Brown T., Holderness T., and Davies, T. <a href="http://parlinfo.aph.gov.au/parlInfo/search/display/display.w3p;query=Id%3A%22committees%2Fcommrep%2F05248a32-373e-4e7a-b3e9-01930a730441%2F0004%22" target="_blank">House of Representatives, Standing Committee on Infrastructure and Communications 2015 Inquiry into Smart ICT</a>. <i>Submission by SMART Infrastructure Facility, University of Wollongong.</i> Parliment of Australia (21st August, 2015).
                    </p>

                    <p>Alderson, B., Barr, S., Holderness, T., Robson, C., Ford, A., Kennedy-Walker, R. <a href="http://leeds.gisruk.org/abstracts/GISRUK2015_submission_25.pdf" target="_blank">A Geospaital Relational Database Schema for Interdependant Network Analysis and Modelling.</a> <i>Proceedings of Geographic Information Systems Research UK Conference</i>, Leeds, United Kingdom (2015)</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Honoured to receive <a href="https://twitter.com/ICEpublishing">@ICEpublishing</a> James Hill Prize +<a href="https://twitter.com/RuthK_W">@RuthK_W</a> on crowd-sourcing for sanitation <a href="http://t.co/MQvvdHWWXX">http://t.co/MQvvdHWWXX</a> <a href="http://t.co/BoP5v8rt3o">pic.twitter.com/BoP5v8rt3o</a></p>&mdash; Tomas Holderness (@iHolderness) <a href="https://twitter.com/iHolderness/status/606694618822934528">June 5, 2015</a></blockquote>
                  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
              </div>

              <h3>2014</h3>
              <div class = "row">
                <div class="col-md-6 col-md-offset-0">
                    <p>Turpin, E., T. Holderness, and G. Quaggiotto. “Combining ‘Big’ and ‘Small’ Data to Build Urban Resilience in Jakarta,” United Nations Global Pulse Blog, April 2014.</p>

                    <p>Municipal Engineer (Institute of Civil Engineers) 2014
                    			Network modelling for road-based Fecal Sludge Management
                    			Kennedy-Walker R., Holderness T., Alderson D., Evans B., Barr S.</p>

                    			<p>IEEE Technology & Society Magazine 2014
                    			GeoSocial Intelligence, Holderness, T.</p>

                    	<p>Proceedings of the First International Symposium for Next
                    	Generation Infrastructure 2014
                    An Evaluation of Spatial Network Modelling to Aid Sanitation Planning in Informal Settlements using Crowd-Sourced Data
                    Holderness T., Kennedy-Walker R., Evans B., Alderson D., & Barr S.</p>


                    <h3>2013</h3>
                    	<p>An Evaluation of Thermal Earth Observation for Characterising Urban Heatwave Event Dynamics Using the Urban Heat Island Intensity Metric
                      Holderness T., Barr S., Dawson R., Hall J.</p>

                    <p>PhD.</p>
                    Exhibitions
                    FOSS4G Poster -> Map gallery
                    media -guardian live chat.

                </div>


                <div class="col-md-5 col-md-offset-1">


                  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">How do you crowd-map a flood? <a href="http://t.co/Nah3uSstjn">http://t.co/Nah3uSstjn</a> White Paper now available for download <a href="http://t.co/MR3ai1Ks7v">http://t.co/MR3ai1Ks7v</a> <a href="http://t.co/qokZb2YHUo">pic.twitter.com/qokZb2YHUo</a></p>&mdash; Tomas Holderness (@iHolderness) <a href="https://twitter.com/iHolderness/status/628074848086921217">August 3, 2015</a></blockquote>
                  <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>
        </div>
    </section>
