// policy

#policy {
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 20px;
}

#policy h1 {
  padding-bottom:20px;
}

#policy p {
  font-size: 15px;
  padding-bottom: 10px;
}

#policy h4 {
  font-style: italic;
  font-size: 15px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  margin:0;
  padding:0;
}
