// policy

iframe {
  margin:0;
}


#policy h1 {
  margin-bottom:0; // This is a hack as the tweet iframe adds 10px margin
  padding-bottom:20px;
}

#policy p {
  font-size: 15px;
  margin-top: 10px; // See above comment
  padding-bottom: 10px;
}

#policy h4 {
  font-style: italic;
  font-size: 15px;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: none;
  margin:0;
  padding:0;
}
