<!-- Policy Documents Section -->
<section id="policy">
  <div class="container">
    <h1>Policy</h1>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-0">
          {% capture policy %}{% include _policy/content.md %}{% endcapture %}
          {{ policy | markdownify }}
        </div>
        <div class="col-lg-5 col-lg-offset-1">
          <blockquote class="twitter-tweet tw-align-center" data-lang="en"><p lang="en" dir="ltr">Great interview w/ <a href="https://twitter.com/ODIHQ?ref_src=twsrc%5Etfw">@ODIHQ</a> on plans for <a href="https://twitter.com/petajkt?ref_src=twsrc%5Etfw">@petajkt</a> &amp; our Showcase Award <a href="https://t.co/u2BxnmsPjV">https://t.co/u2BxnmsPjV</a> cc <a href="https://twitter.com/osgeolabs?ref_src=twsrc%5Etfw">@osgeolabs</a> <a href="https://twitter.com/hashtag/opendata?src=hash&amp;ref_src=twsrc%5Etfw">#opendata</a> <a href="https://t.co/nFsxZTNvD0">https://t.co/nFsxZTNvD0</a></p>&mdash; Tomas Holderness (@iHolderness) <a href="https://twitter.com/iHolderness/status/717949725152903169?ref_src=twsrc%5Etfw">April 7, 2016</a></blockquote>
        </div>
    </div>
  </div>
</section>
