<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-left">
                    {% capture about %}{% include _about/content.md %}{% endcapture %}
                    {{ about | markdownify }}
                </div>
                <div class="col-lg-5 col-lg-offset-1">
                  <img width="220" class="img-responsive" src="img/phone_bw.jpg" alt="" style="display:block; margin-right:auto; margin-left:auto;">
                </div>
            </div>
        </div>
    </section>
