<!-- Policy Documents Section -->
<section id="speaking">
  <div class="container">
    <h1>Invited Lectures &amp; Seminars</h1>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-0">
          {% capture talks %}{% include _speaking/content.md %}{% endcapture %}
          {{ talks | markdownify }}
          <!--
          {% assign stories = media | newline_to_br | split:'<br />' %}
          {{ stories[0] || markdownify }}
          {% for story in stories %}
            {% if story contains '2016' %}
            {{ story || markdownify }}
            {% endif %}
          {% endfor %}
        -->
        </div>
        <div class="col-lg-5 col-lg-offset-1">
          <img class="img-responsive" src="img/workshop.png" alt="";></img>
        </div>
      </div>
    </div>
</section>
